
html, body {
	margin: 0;
	padding: 0;
}

.container {
	padding-bottom: .5em;
}

.status-message:not(:empty) {
	padding: .2em;
	text-align: center;
}

.dis-header {
	font-size: 1.5em;
	text-align: center;
	padding: .05em 0;
}

.dis-name {
	text-align: center;
	font-size: 1.2em;
	background-color: #A09B9B;
	color: white;
}

.data-time-row {
	text-align: center;
}

.loading-indicator {
  display: block;
  width: 12em;
  height: 6em;
}

.weather-container {
  display: none;
}

.weather-container table {
  width: 100%;
}

.weather-container table td:not(:first-child) {
  text-align: center;
}

.image-container img {
	max-width: 12em;
	max-height: 12em;
	padding: .3em;
	display: block;
	margin: auto;
}

.site-link {
	text-align: center;
	padding: .05em;
}


table, th, td {
  border-top: 1px solid #ddd;
  border-collapse: collapse;
}

td:first-child:not(:only-child) {
  padding-left: 10px;
}


@import '../../node_modules/weathericons/css/weather-icons.css';
@import '../../node_modules/weathericons/css/weather-icons-wind.css';


/* Shiny loading indicator */

.cssload-spinner {
	height: 49px;
	width: 49px;
	margin: 49px auto;
	position: relative;
	animation: cssload-invert 2.3s infinite steps(2, end);
		-o-animation: cssload-invert 2.3s infinite steps(2, end);
		-ms-animation: cssload-invert 2.3s infinite steps(2, end);
		-webkit-animation: cssload-invert 2.3s infinite steps(2, end);
		-moz-animation: cssload-invert 2.3s infinite steps(2, end);
}
.cssload-ball {
	height: 100%;
	width: 100%;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	background: rgb(21,255,0);
}
.cssload-ball-1 {
	animation: cssload-ball1 1.15s infinite alternate linear;
		-o-animation: cssload-ball1 1.15s infinite alternate linear;
		-ms-animation: cssload-ball1 1.15s infinite alternate linear;
		-webkit-animation: cssload-ball1 1.15s infinite alternate linear;
		-moz-animation: cssload-ball1 1.15s infinite alternate linear;
}
.cssload-ball-2 {
	animation: cssload-ball2 1.15s infinite alternate linear;
		-o-animation: cssload-ball2 1.15s infinite alternate linear;
		-ms-animation: cssload-ball2 1.15s infinite alternate linear;
		-webkit-animation: cssload-ball2 1.15s infinite alternate linear;
		-moz-animation: cssload-ball2 1.15s infinite alternate linear;
}
.cssload-ball-3 {
	animation: cssload-ball3 1.15s infinite alternate linear;
		-o-animation: cssload-ball3 1.15s infinite alternate linear;
		-ms-animation: cssload-ball3 1.15s infinite alternate linear;
		-webkit-animation: cssload-ball3 1.15s infinite alternate linear;
		-moz-animation: cssload-ball3 1.15s infinite alternate linear;
}
.cssload-ball-4 {
	animation: cssload-ball4 1.15s infinite alternate linear;
		-o-animation: cssload-ball4 1.15s infinite alternate linear;
		-ms-animation: cssload-ball4 1.15s infinite alternate linear;
		-webkit-animation: cssload-ball4 1.15s infinite alternate linear;
		-moz-animation: cssload-ball4 1.15s infinite alternate linear;
}






@keyframes cssload-invert {
	100% {
		transform: rotate(180deg);
	}
}

@-o-keyframes cssload-invert {
	100% {
		-o-transform: rotate(180deg);
	}
}

@-ms-keyframes cssload-invert {
	100% {
		-ms-transform: rotate(180deg);
	}
}

@-webkit-keyframes cssload-invert {
	100% {
		-webkit-transform: rotate(180deg);
	}
}

@-moz-keyframes cssload-invert {
	100% {
		-moz-transform: rotate(180deg);
	}
}

@keyframes cssload-ball1 {
	12% {
		transform: none;
	}
	26% {
		transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		transform: translate(50%, 25%) scale(0.6, 0.8);
	}
	88% {
		transform: translate(50%, 50%) scale(0.6, 0.6);
	}
	100% {
		transform: translate(50%, 50%) scale(0.6, 0.6);
	}
}

@-o-keyframes cssload-ball1 {
	12% {
		-o-transform: none;
	}
	26% {
		-o-transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		-o-transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		-o-transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		-o-transform: translate(50%, 25%) scale(0.6, 0.8);
	}
	88% {
		-o-transform: translate(50%, 50%) scale(0.6, 0.6);
	}
	100% {
		-o-transform: translate(50%, 50%) scale(0.6, 0.6);
	}
}

@-ms-keyframes cssload-ball1 {
	12% {
		-ms-transform: none;
	}
	26% {
		-ms-transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		-ms-transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		-ms-transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		-ms-transform: translate(50%, 25%) scale(0.6, 0.8);
	}
	88% {
		-ms-transform: translate(50%, 50%) scale(0.6, 0.6);
	}
	100% {
		-ms-transform: translate(50%, 50%) scale(0.6, 0.6);
	}
}

@-webkit-keyframes cssload-ball1 {
	12% {
		-webkit-transform: none;
	}
	26% {
		-webkit-transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		-webkit-transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		-webkit-transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		-webkit-transform: translate(50%, 25%) scale(0.6, 0.8);
	}
	88% {
		-webkit-transform: translate(50%, 50%) scale(0.6, 0.6);
	}
	100% {
		-webkit-transform: translate(50%, 50%) scale(0.6, 0.6);
	}
}

@-moz-keyframes cssload-ball1 {
	12% {
		-moz-transform: none;
	}
	26% {
		-moz-transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		-moz-transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		-moz-transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		-moz-transform: translate(50%, 25%) scale(0.6, 0.8);
	}
	88% {
		-moz-transform: translate(50%, 50%) scale(0.6, 0.6);
	}
	100% {
		-moz-transform: translate(50%, 50%) scale(0.6, 0.6);
	}
}

@keyframes cssload-ball2 {
	12% {
		transform: none;
	}
	26% {
		transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		transform: translate(50%, -25%) scale(0.6, 0.8);
	}
	88% {
		transform: translate(50%, -50%) scale(0.6, 0.6);
	}
	100% {
		transform: translate(50%, -50%) scale(0.6, 0.6);
	}
}

@-o-keyframes cssload-ball2 {
	12% {
		-o-transform: none;
	}
	26% {
		-o-transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		-o-transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		-o-transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		-o-transform: translate(50%, -25%) scale(0.6, 0.8);
	}
	88% {
		-o-transform: translate(50%, -50%) scale(0.6, 0.6);
	}
	100% {
		-o-transform: translate(50%, -50%) scale(0.6, 0.6);
	}
}

@-ms-keyframes cssload-ball2 {
	12% {
		-ms-transform: none;
	}
	26% {
		-ms-transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		-ms-transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		-ms-transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		-ms-transform: translate(50%, -25%) scale(0.6, 0.8);
	}
	88% {
		-ms-transform: translate(50%, -50%) scale(0.6, 0.6);
	}
	100% {
		-ms-transform: translate(50%, -50%) scale(0.6, 0.6);
	}
}

@-webkit-keyframes cssload-ball2 {
	12% {
		-webkit-transform: none;
	}
	26% {
		-webkit-transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		-webkit-transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		-webkit-transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		-webkit-transform: translate(50%, -25%) scale(0.6, 0.8);
	}
	88% {
		-webkit-transform: translate(50%, -50%) scale(0.6, 0.6);
	}
	100% {
		-webkit-transform: translate(50%, -50%) scale(0.6, 0.6);
	}
}

@-moz-keyframes cssload-ball2 {
	12% {
		-moz-transform: none;
	}
	26% {
		-moz-transform: translateX(25%) scale(1, 0.8);
	}
	40% {
		-moz-transform: translateX(50%) scale(0.8, 0.8);
	}
	60% {
		-moz-transform: translateX(50%) scale(0.8, 0.8);
	}
	74% {
		-moz-transform: translate(50%, -25%) scale(0.6, 0.8);
	}
	88% {
		-moz-transform: translate(50%, -50%) scale(0.6, 0.6);
	}
	100% {
		-moz-transform: translate(50%, -50%) scale(0.6, 0.6);
	}
}

@keyframes cssload-ball3 {
	12% {
		transform: none;
	}
	26% {
		transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		transform: translate(-50%, 25%) scale(0.6, 0.8);
	}
	88% {
		transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
	100% {
		transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
}

@-o-keyframes cssload-ball3 {
	12% {
		-o-transform: none;
	}
	26% {
		-o-transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		-o-transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		-o-transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		-o-transform: translate(-50%, 25%) scale(0.6, 0.8);
	}
	88% {
		-o-transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
	100% {
		-o-transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
}

@-ms-keyframes cssload-ball3 {
	12% {
		-ms-transform: none;
	}
	26% {
		-ms-transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		-ms-transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		-ms-transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		-ms-transform: translate(-50%, 25%) scale(0.6, 0.8);
	}
	88% {
		-ms-transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
	100% {
		-ms-transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
}

@-webkit-keyframes cssload-ball3 {
	12% {
		-webkit-transform: none;
	}
	26% {
		-webkit-transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		-webkit-transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		-webkit-transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		-webkit-transform: translate(-50%, 25%) scale(0.6, 0.8);
	}
	88% {
		-webkit-transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
	100% {
		-webkit-transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
}

@-moz-keyframes cssload-ball3 {
	12% {
		-moz-transform: none;
	}
	26% {
		-moz-transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		-moz-transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		-moz-transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		-moz-transform: translate(-50%, 25%) scale(0.6, 0.8);
	}
	88% {
		-moz-transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
	100% {
		-moz-transform: translate(-50%, 50%) scale(0.6, 0.6);
	}
}

@keyframes cssload-ball4 {
	12% {
		transform: none;
	}
	26% {
		transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		transform: translate(-50%, -25%) scale(0.6, 0.8);
	}
	88% {
		transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
	100% {
		transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
}

@-o-keyframes cssload-ball4 {
	12% {
		-o-transform: none;
	}
	26% {
		-o-transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		-o-transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		-o-transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		-o-transform: translate(-50%, -25%) scale(0.6, 0.8);
	}
	88% {
		-o-transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
	100% {
		-o-transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
}

@-ms-keyframes cssload-ball4 {
	12% {
		-ms-transform: none;
	}
	26% {
		-ms-transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		-ms-transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		-ms-transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		-ms-transform: translate(-50%, -25%) scale(0.6, 0.8);
	}
	88% {
		-ms-transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
	100% {
		-ms-transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
}

@-webkit-keyframes cssload-ball4 {
	12% {
		-webkit-transform: none;
	}
	26% {
		-webkit-transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		-webkit-transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		-webkit-transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		-webkit-transform: translate(-50%, -25%) scale(0.6, 0.8);
	}
	88% {
		-webkit-transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
}

@-moz-keyframes cssload-ball4 {
	12% {
		-moz-transform: none;
	}
	26% {
		-moz-transform: translateX(-25%) scale(1, 0.8);
	}
	40% {
		-moz-transform: translateX(-50%) scale(0.8, 0.8);
	}
	60% {
		-moz-transform: translateX(-50%) scale(0.8, 0.8);
	}
	74% {
		-moz-transform: translate(-50%, -25%) scale(0.6, 0.8);
	}
	88% {
		-moz-transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
	100% {
		-moz-transform: translate(-50%, -50%) scale(0.6, 0.6);
	}
}
